.series {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 85%;
    margin: auto;
}

.card {
    /* margin-right:5% ; */
    display: block;
    margin-top: 2%;
    /* max-height: 40%; */
    align-items: center;
    text-align: center;
    width: 38rem;
}

.card-body {
    text-align: left;
}

.components {
    /* margin-top: 50px; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
}

.imgs {
    margin-top: 1rem;
    height: 20rem;
    max-width: 35rem;
}

.head {
    text-align: center;
}

.container {
    /* display: flex; */
    text-align: center;
}

.more {
    text-decoration: none;
    color: black;
}

.more:hover {
    color: rgb(43, 41, 41);
    border-bottom: 2px solid rgb(43, 41, 41);
}
.more2:hover {
    color: rgb(43, 41, 41);
    border-bottom: 2px solid rgb(43, 41, 41);
}

.linkimg:hover {
    opacity: 0.9;
}

.cardrecc {
    width: 100%;
    /* height: 4rem; */
}
.poptitle{
    font-size: 0.7rem;
    margin: 0;
}
.popcbody{
    align-items: center;
    text-align: left;
    padding: 0;
    padding-left: 5%;
}
.poparea{
    height: 3.5rem;
    align-items: center;
}
.popimage{
    height:3.5rem;
    max-width:5rem;
    /* max-width: 100%; */
}
.popimgarea{
    text-align: start;
    background-size: cover;
    width: auto;
    /* width: fit-content; */
}
.popover{
    width: 20rem;
}
.more2{
    text-decoration: none;
    color: black;
}
@media(max-width:1460px) {
    .series {
        /* background-color: black; */
        width: 80%;
    }

    .imgs {
        height: 20rem;
        max-width: 38rem;
    }

    .components {
        justify-content: center;
    }
}

@media(max-width:800px) {
    .series {
        width: 65%;
    }

    .imgs {
        height: 15rem;
        max-width: 22rem;
    }

    .card {
        width: 25rem;
    }
    .cardrecc{
        width: 100%;
    }
    .poprecc{
        width: 60%;
    }
    /* .poptitle{
        font-size: 0.5rem;
    } */
}

@media(max-width:450px) {
    .card {
        width: 15rem;
    }

    .imgs {
        height: 7.1rem;
        max-width: 14rem;
    }
    .cardrecc{
        width: 100%;
    }
    .popover{
    /* width: 10rem; */
    width: auto;
    }
    
}


@media(max-width:250px) {
    .card {
        width: 8rem;
    }

    .imgs {
        margin-top: 0.5rem;
        height: 4rem;
        max-width: 8rem;
    }
    .cardrecc{
        width: 80%;
    }
    .popover{
    /* width: 10rem; */
    width: auto;
    }
}

@media(min-width:1650px) {
    .card {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
    .cardrecc{
        width: 100%;
    }
}