{% extends 'series/basic.html'%}
{%block title%} Add rev {%endblock%}
{%block css%}
{%load static%}
<link rel="stylesheet" href="{% static 'series/styleAdd.css' %}">  
<style>
    @media (max-width:800px) {
        #poptext {
            /* width: auto; */
            width: 60%;
        }
    }
</style>
{%endblock%}

{%block body%}
<script>
    home = document.querySelector(".home");
    add = document.querySelector(".add");
    home.classList.remove("active");
    add.classList.add("active");
</script>

<h2 class="head my-2">Add review</h2>
<div class="container">
<form action="/series/addrev/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label" >Series Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="series_name" placeholder="Example:Money Heist" required>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label" >Release date</label>
            <input class="form-control reld" type="date" name="rel_date" id="formFile" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" >Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc" required></textarea>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label" >Image</label>
            <input class="form-control img" type="file" id="formFile" name="img" required> 
        </div>
        <div class="mb-3">
            <label for="customRange2" class="form-label" >Rating</label>
            <input type="range" class="form-range" min="0" max="10" id="customRange2" name="rating" required>
        </div>
        <button type="submit" class="btn btn-primary" id="submit" style="background-color: rgb(233 19 19);border: 2px rgb(233 19 19);">Submit</button>
</form>
</div>
<div class="success my-3" >
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success!!</h4>
        <p>Your review has been uploaded successfully.</p>
        <p class="mb-0">You will be redirected to Home shortly.</p>
        <div class="spinner-grow my-3" role="status">
            <span class="visually-hidden ">Loading...</span>
          </div>
    </div>
</div>
{%endblock%}
{%block js%}
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    });



    // console.log("hello");
    function redirect() {
        document.location="/series"
    }
    {% if posted %}
    document.querySelector(".head").style.display='none';
    document.querySelector(".container").style.display='none';
    document.querySelector(".success").style.display='block';
    setTimeout(redirect,1500);
    {%endif%}

    var popstr = "";

    let search = document.getElementById('search1');
    let searchbtn = document.getElementById('searchbtn');
    {%for i in slist%}
    // console.log(`{{i.series_name}}`);
    popstr = popstr + `<div class="card mb-3 cardrecc box{{forloop.counter0}}" id="cardrecc" style="width:auto;">
                <div class="row g-0 content{{forloop.counter0}} poparea">
                    <div class="col-md-4 popimgarea">
                        <a href="/series/moredetail/{{i.series_id}}" class="linkimg"><img src="/media/{{i.series_img}}" class="img-fluid rounded-start popimage" alt="..."></a>
                        </div>
                        <div class="col-md-8" id="poptext">
                            <div class="card-body popcbody" >
                                <a href="/series/moredetail/{{i.series_id}}" class="more2"><h5 class="card-title card{{forloop.counter0}} poptitle" >{{i.series_name}}</h5></a>
                                </div>
                                </div>
                                </div>
                                </div>`;
            

    {%endfor%}
    search.setAttribute('data-bs-content', popstr);
    console.log(popstr);

    search.addEventListener("input", function () {
        let searchval = search.value.toLowerCase();
        console.log(searchval);

        $('#search1').popover('show');

        if (searchval == '') {
            // console.log("here");
            $('#search1').popover('hide');

        }
        else {
            // console.log("not here");
            $('#search1').popover('show');
        }

        let searchpop = document.getElementsByClassName("cardrecc");
        let count = 0;
        Array.from(searchpop).forEach(element => {

            let cardn = document.querySelector(`.card${count}`);
            let box = document.querySelector(`.box${count}`);

            let Serieshere = cardn.textContent;
            Serieshere = Serieshere.toLowerCase();


            if (Serieshere == searchval || Serieshere.slice(0, searchval.length) == searchval) {
                box.style.display = "";
            }
            else {
                box.style.display = "none";
            }

            count++;
        })
    })

</script>
{%endblock%}