{% extends 'games/basic.html'%}
{%block title%} Contact us {%endblock%}
{%block css%}
{%load static%}
<link rel="stylesheet" href="{% static 'games/styleContact.css' %}">

{%endblock%}
{%block body%}
<script>
    home = document.querySelector(".home");
    contact = document.querySelector(".contact");
    home.classList.remove("active");
    contact.classList.add("active");
  </script>
<!-- <h2>contact</h2> -->
<div class="container my-2">
    <h3>Contact Us</h3>
    <!-- method post krna pdega -->
    <form action="/games/contact/" method="post">{% csrf_token %}
        <div class="form-group my-2 ">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="validationTooltip01" name="username"
                placeholder="Enter Your Name" required>
        </div>
        <div class="form-group my-2">
            <label for="name">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="form-group my-2">
            <label for="name">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number"
                required>
        </div>
        <div class="form-group">
            <div class="form-group my-2">
                <label for="desc">How May We Help You ?</label>
                <textarea class="form-control" id="desc" name="desc" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-success" style="background-color: #0d9f0d">Submit</button>
        </div>
    </form>
</div>
<div class="success my-3">
    <div class="card text-center">
        <div class="card-body">
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <h5 class="card-title">Your query has been successfully sent</h5>
            <p class="card-text">Redirecting to Home</p>
        </div>
        <div class="card-footer text-muted">
            <p> Thank you</p>
        </div>
    </div>
</div>
{%endblock%}
{%block script%} 
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    });

     function redirect() {
        document.location="/games"
    }
    {% if sent %}
    document.querySelector(".container").style.display='none';
    document.querySelector(".success").style.display='block';
    setTimeout(redirect,1500);
    {%endif%}


    var popstr = "";

    let search = document.getElementById('search1');
    let searchbtn = document.getElementById('searchbtn');
    {%for i in glist%}
    popstr = popstr + `<div class="card mb-3 cardrecc box{{forloop.counter0}}" style="width:auto;">
                <div class="row g-0 content{{forloop.counter0}} poparea">
                    <div class="col-md-4 popimgarea">
                        <a href="/games/moredetail/{{i.games_id}}" class="linkimg"><img src="/media/{{i.game_img}}" class="img-fluid rounded-start popimage" alt="..."></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body popcbody" >
                                <a href="/games/moredetail/{{i.games_id}}" class="more2"><h5 class="card-title card{{forloop.counter0}} poptitle" >{{i.game_name}}</h5></a>
                                </div>
                                </div>
                                </div>
                                </div>`;
            

    {%endfor%}
    search.setAttribute('data-bs-content', popstr);
    console.log(popstr);

    search.addEventListener("input", function () {
        let searchval = search.value.toLowerCase();
        console.log(searchval);

        $('#search1').popover('show');

        if (searchval == '') {
            // console.log("here");
            $('#search1').popover('hide');

        }
        else {
            // console.log("not here");
            $('#search1').popover('show');
        }

        let searchpop = document.getElementsByClassName("cardrecc");
        let count = 0;
        Array.from(searchpop).forEach(element => {

            let cardn = document.querySelector(`.card${count}`);
            let box = document.querySelector(`.box${count}`);

            let Serieshere = cardn.textContent;
            Serieshere = Serieshere.toLowerCase();


            if (Serieshere == searchval || Serieshere.slice(0, searchval.length) == searchval) {
                box.style.display = "";
            }
            else {
                box.style.display = "none";
            }

            count++;
        })
    })
</script>
{%endblock%}