{% extends 'games/basic.html'%}
{%block title %} {{games.games_name}} {%endblock%}
{%block body %}
{%load static%}
<link rel="stylesheet" href="{% static 'games/styleMyrev.css' %}">
<style>
    #poptext {
        width: 60%;
    }

    #cardrecc {
        width: 100%;
    }
    @media (max-width:800px) {
    .popcbody {
        width: auto;
    }
}
</style>

<div class="card mb-3" style="align-items: center;">
    <img src="/media/{{games.game_img}}" class="card-img-top my-3" alt="..."
        style="width:auto ;max-height: 40rem; max-width: 60%;">
    <div class="card-body">
        <h1 class="card-title">{{games.game_name}}</h1>
        <p class="card-text">{{games.desc}}.</p>
        <p class="card-text">Release Date: {{games.release_date}}</p>
        <form action="/games/myrev/{{games.games_id}}" method="post">{% csrf_token %}
            <input type="hidden" name="game_name" value="{{games.game_name}}">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="name" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp"
                    required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                    aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="customRange2" class="form-label">Your Rating</label>
                <input type="range" class="form-range" min="0" max="10" id="customRange2" name="rating" required>
            </div>
            <button type="submit" class="btn btn-primary"
                style="background-color: #0d9f0d; border:2px #0d9f0d;">Submit</button>
        </form>
    </div>
</div>

<div class="success my-3">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success!!</h4>
        <p>Your review has been uploaded successfully.</p>
        <p class="mb-0">You will be redirected to Home shortly.</p>
        <p>Thank you for your reviews.</p>
        <div class="spinner-grow my-3" role="status">
            <span class="visually-hidden ">Loading...</span>
        </div>
    </div>
</div>
{%endblock%}
{%block script%}
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    });


    function redirect() {
        document.location = "/games"
    }
    {% if posted %}
    document.querySelector(".card").style.display = 'none';
    document.querySelector(".success").style.display = 'block';
    setTimeout(redirect, 1500);
    {% endif %}

    var popstr = "";

    let search = document.getElementById('search1');
    let searchbtn = document.getElementById('searchbtn');
    {%for i in glist %}
    popstr = popstr + `<div class="card mb-3 cardrecc box{{forloop.counter0}}" id="cardrecc" style="width:auto;">
                <div class="row g-0 content{{forloop.counter0}} poparea">
                    <div class="col-md-4 popimgarea">
                        <a href="/games/moredetail/{{i.games_id}}" class="linkimg"><img src="/media/{{i.game_img}}" class="img-fluid rounded-start popimage" alt="..."></a>
                        </div>
                        <div class="col-md-8" id="poptext">
                            <div class="card-body popcbody" >
                                <a href="/games/moredetail/{{i.games_id}}" class="more2"><h5 class="card-title card{{forloop.counter0}} poptitle" >{{i.game_name}}</h5></a>
                                </div>
                                </div>
                                </div>
                                </div>`;


    {% endfor %}
    search.setAttribute('data-bs-content', popstr);
    console.log(popstr);

    search.addEventListener("input", function () {
        let searchval = search.value.toLowerCase();
        console.log(searchval);

        $('#search1').popover('show');

        if (searchval == '') {
            // console.log("here");
            $('#search1').popover('hide');

        }
        else {
            // console.log("not here");
            $('#search1').popover('show');
        }

        let searchpop = document.getElementsByClassName("cardrecc");
        let count = 0;
        Array.from(searchpop).forEach(element => {

            let cardn = document.querySelector(`.card${count}`);
            let box = document.querySelector(`.box${count}`);

            let Serieshere = cardn.textContent;
            Serieshere = Serieshere.toLowerCase();


            if (Serieshere == searchval || Serieshere.slice(0, searchval.length) == searchval) {
                box.style.display = "";
            }
            else {
                box.style.display = "none";
            }

            count++;
        })
    })
</script>
{%endblock%}