{% extends "animes/basic.html"%}
{%block title%} About us {%endblock%}
{%block body%}
<!-- <h2>About</h2> -->
{%load static%}
{%block css%}
<link rel="stylesheet" href="{% static 'animes/styleabout.css' %}">

{%endblock%}

<script>
  home = document.querySelector(".home");
  about = document.querySelector(".about");
  home.classList.remove("active");
  about.classList.add("active");
</script>
<div class="card bg-dark text-white">
    <!-- <img src="{% static 'animes/animeall.png' %}" class="card-img" alt="..." style=" opacity: 0.3;"> -->
    <div class="card-img-overlay py-4  my-2 content">
      <h2 class="card-title">About us</h2>
      <p class="card-text my-4">Our mission is to provide you with the most accurate review and ratings for the next anime your are gonna encounter!!
        <br>  Hope we could help you :)
    </p>
    <p class="card-text">Creator:https://github.com/SourabHere</p>
    </div>
  </div>
{%endblock%}
{%block script%} 
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    });

    var popstr = "";

    let search = document.getElementById('search1');
    let searchbtn = document.getElementById('searchbtn');
    {%for i in alist%}
    popstr = popstr + `<div class="card mb-3 cardrecc box{{forloop.counter0}}" style="width:auto;">
                <div class="row g-0 content{{forloop.counter0}} poparea">
                    <div class="col-md-4 popimgarea">
                        <a href="/animes/moredetail/{{i.anime_id}}" class="linkimg"><img src="/media/{{i.anime_img}}" class="img-fluid rounded-start popimage" alt="..."></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body popcbody" >
                                <a href="/animes/moredetail/{{i.anime_id}}" class="more2"><h5 class="card-title card{{forloop.counter0}} poptitle" >{{i.anime_name}}</h5></a>
                                </div>
                                </div>
                                </div>
                                </div>`;
            

    {%endfor%}
    search.setAttribute('data-bs-content', popstr);
    console.log(popstr);

    search.addEventListener("input", function () {
        let searchval = search.value.toLowerCase();
        console.log(searchval);

        $('#search1').popover('show');

        if (searchval == '') {
            // console.log("here");
            $('#search1').popover('hide');

        }
        else {
            // console.log("not here");
            $('#search1').popover('show');
        }

        let searchpop = document.getElementsByClassName("cardrecc");
        let count = 0;
        Array.from(searchpop).forEach(element => {

            let cardn = document.querySelector(`.card${count}`);
            let box = document.querySelector(`.box${count}`);

            let Serieshere = cardn.textContent;
            Serieshere = Serieshere.toLowerCase();


            if (Serieshere == searchval || Serieshere.slice(0, searchval.length) == searchval) {
                box.style.display = "";
            }
            else {
                box.style.display = "none";
            }

            count++;
        })
    })
</script>
{%endblock%}